---
import Logotype from "./Logotype.astro";
---

<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <Logotype />
      <div class="footer-links">
        <a class="footer-links__item" href="#">Как это работает?</a>
        <a class="footer-links__item" href="#">Вопросы</a>
        <a class="footer-links__item" href="#">Демо-версия</a>
        <button class="footer-links__item" type="button">Регистрация</button>
        <button class="footer-links__item" type="button">Вход</button>
      </div>
    </div>
    <div class="footer__row">
      <a class="footer__phonenumber" href="tel:+78005553535">8 800 555 35 35</a>
      <div class="footer-links">
        <a class="footer-links__item" href="#">Пользовательское соглашение</a>
        <a class="footer-links__item" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
